h2{
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
div{
    background-color: tomato;
    border: 0;
    box-shadow: 1px 1px 12px blueviolet;
    padding: 20px;
    margin: 30px 20px;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 80%;
}